nav {
    background-color: rgb(185, 70, 70);
    width: 22.5%;
    height:100%;
    border: groove;
    border-width: medium;
    color: rgb(255, 230, 204);
    font-family: 'Copperplate Gothic';
}
#objective {
    background-color: rgb(185, 70, 70);
    padding-top: 2%;
    padding-bottom: 2%;
    border: groove;
    border-width: medium;
    color: rgb(255, 230, 204);
    font-family:'Copperplate Gothic';
}
#name {
    background-color: rgb(185, 70, 70);
    padding-top: 2%;
    padding-bottom: 2%;
    border: groove;
    border-width: medium;
    color: rgb(255, 230, 204);
    font-family: 'Copperplate Gothic';
}
#name{
    text-align:center;
    width:23%;
}
#objective{
    padding-left:5%;
    padding-right:5%;
}
table{
    align-items:center;
}
nav div,h4 {
    padding-right:5%;
    padding-left:5%;
    padding-bottom:1%;
    padding-top:1%;
}
#name p{
    font-size:xx-large;
}
#infopage{
    padding-left:5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
    #infopage div {
        padding-left: 22%;
        padding-right: 5%;
    }
#infopage h4 {
    padding-left: 22%;
}
#infopage h2 {
    padding-left: 22%;
}
img{
    border-radius:80px;
    width:28%;
    height:28%;

}
img:hover{
    transform:scale(2);
}
html {
    background: linear-gradient(to bottom right, #ffffcc 49%, #990000 141%);
    
}
ul{
    list-style-type:square;
}

